{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello Contact page! ✅</h1>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime minus labore cum delectus!</div>
    <p>Email: ibrahimsoro@gmail.com</p>
{% endblock %}
